<p style="color: green"><%= notice %></p>

<h1>Admin users</h1>

<div id="admin_users">
  <% @admin_users.each do |admin_user| %>
    <%= render admin_user %>
    <p>
      <%= link_to "Show this admin user", admin_user %>
    </p>
  <% end %>
</div>

<%= link_to "New admin user", new_admin_user_path %>
