<h1>Editing support staff</h1>

<%= render "form", support_staff: @support_staff %>

<br>

<div>
  <%= link_to "Show this support staff", @support_staff %> |
  <%= link_to "Back to support staffs", support_staffs_path %>
</div>
