<h1>Editing performance report</h1>

<%= render "form", performance_report: @performance_report %>

<br>

<div>
  <%= link_to "Show this performance report", @performance_report %> |
  <%= link_to "Back to performance reports", performance_reports_path %>
</div>
