<h1>Editing supervisor user</h1>

<%= render "form", supervisor_user: @supervisor_user %>

<br>

<div>
  <%= link_to "Show this supervisor user", @supervisor_user %> |
  <%= link_to "Back to supervisor users", supervisor_users_path %>
</div>
