<h1>Editing requesting user</h1>

<%= render "form", requesting_user: @requesting_user %>

<br>

<div>
  <%= link_to "Show this requesting user", @requesting_user %> |
  <%= link_to "Back to requesting users", requesting_users_path %>
</div>
