<h1>Editing executive user</h1>

<%= render "form", executive_user: @executive_user %>

<br>

<div>
  <%= link_to "Show this executive user", @executive_user %> |
  <%= link_to "Back to executive users", executive_users_path %>
</div>
